{{> head  }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Duck</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia alias quasi at laudantium eos
             distinctio culpa veniam officia tempore deleniti nihil minus autem, corporis similique corrupti voluptas maiores ipsam neque?
        </p>
        
    </div>


    <div class="col-4">
        <img src="assets/img/duck.jpeg" class="img-thumbnail"></h1>
    </div>

    
</div>

       {{> footer}}